<ion-header style="height: 40px; background-color: #e6e6e6;">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-icon style="height: 25px; width: 25px; text-align: center; color: black " name="menu"></ion-icon>
      </ion-col>
      <ion-col size="6">
        <p class="text-center" style="color: #120a8f ">DFL</p>
      </ion-col>
      
    </ion-row>
    </ion-grid>
     
</ion-header>

<ion-content color="light">

  <ion-img src="assets/supresa.jpg"></ion-img>
  
  <ion-grid >
    <ion-row>
      <ion-col size="6">
        <button id="button">Sobre a empresa</button>
      </ion-col>
      <ion-col size="6">
        <button id="button">Produtos</button>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-icon style="height: 20px; width: 20px;  color: #0731a4;  " name="arrow-forward"></ion-icon>
        <ion-label style="text-align: center;" position="left">Próximos eventos</ion-label>
        <ion-label style=" font-size: 8px; position: absolute; padding-left: 35% ;top: 15px" >Ver todos</ion-label>
      </ion-col>
      
    </ion-row>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-img style="" src="assets/supresa.jpg"></ion-img>
            </ion-col>
            <ion-col size="9">
              <p id="titulo">Congresso internacional de odontologia</p>
              <ion-row>
                <ion-col>
                  <p id="sobre">15/01/2020 - Porto Alegre</p>
                </ion-col>
                <ion-col>
                  <p id="sobre">Saiba mais</p>
                </ion-col>
              </ion-row>
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-row>
      <ion-col size="12">
        <ion-icon style="height: 20px; width: 20px;  color: #0731a4;  " name="arrow-forward"></ion-icon>
        <ion-label style="text-align: center;" position="left">Ultimas notícias</ion-label>
      </ion-col>
    </ion-row>
    
    <ion-img src="assets/supresa.jpg"></ion-img>

    

  </ion-grid>

</ion-content>
