<ion-header style="height: 40px; background-color: gainsboro;">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-icon id="icon" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col size="8">
        <p class="text-center" style="color: #120a8f ">Programação de Eventos</p>
      </ion-col>
      
    </ion-row>
    </ion-grid>
    
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <div class="timeline">
          <div style="left: 7px; top:-20px" class="container right">
            <div class="content" style="left: -20px; width: 50px;">
              <h2>30</h2>
              <p>QUA</p>
            </div>
          </div>
        </div>
        <div class="timeline">
          <div style="left: 7px; position: absolute; top:50px" class="container right">
            <div class="content" style="left: -20px; width: 50px;">
              <h2>31</h2>
              <p>QUi</p>
            </div>
          </div>
        </div>
        <div class="timeline">
          <div style="left: 7px; position: absolute; top:-50px" class="container right">
            <div class="content" style="left: -20px; width: 50px;">
              <h2>01</h2>
              <p>SEX</p>
            </div>
          </div>
        </div>
       
      </ion-col>
      <ion-col size="9">
        <ion-card style="background-color: white;">     
         <ion-card-content>
            <p id="titulo">Implantes curtos e estreito a luz da ciência</p>
            <p id="professor">Palestrante Moarcir Siqueira Filho</p>
            <p id="horario">10:00 as 22:00</p>
            <p id="interesse">Marcar interesse</p>
          </ion-card-content>
        </ion-card>
        <ion-card style="background-color: white;">     
          <ion-card-content>
             <p id="titulo">Implantes curtos e estreito a luz da ciência</p>
             <p id="professor">Palestrante Moarcir Siqueira Filho</p>
             <p id="horario">10:00 as 22:00</p>
             <p id="interesse">Marcar interesse</p>
           </ion-card-content>
         </ion-card>
         <ion-card style="background-color: white;">     
          <ion-card-content>
             <p id="titulo">Implantes curtos e estreito a luz da ciência</p>
             <p id="professor">Palestrante Moarcir Siqueira Filho</p>
             <p id="horario">10:00 as 22:00</p>
             <p id="interesse">Marcar interesse</p>
           </ion-card-content>
         </ion-card>
         <ion-card style="background-color: white;">     
          <ion-card-content>
             <p id="titulo">Implantes curtos e estreito a luz da ciência</p>
             <p id="professor">Palestrante Moarcir Siqueira Filho</p>
             <p id="horario">10:00 as 22:00</p>
             <p id="interesse">Marcar interesse</p>
           </ion-card-content>
         </ion-card>
         <ion-card style="background-color: white;">     
          <ion-card-content>
             <p id="titulo">Implantes curtos e estreito a luz da ciência</p>
             <p id="professor">Palestrante Moarcir Siqueira Filho</p>
             <p id="horario">10:00 as 22:00</p>
             <p id="interesse">Marcar interesse</p>
           </ion-card-content>
         </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  
</ion-content>
