ion-content {
    --background: #e6e6e6;
  }

#bola{
    border-radius: 50%;
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 1px solid gainsboro;
    background-color: #f4f4f4;
    margin-right: 10px;
}

#dentrobola{
    color: #120a8f; 
    font-size: 12px;
    padding-top: 80px;
}


#header{
    background-color: #f4f4f4;
    
    
}


#titulo{
    color: #120a8f; 
    font-size: 8px;
    padding-top: 10px;
}

#frase{
    font-size: 8px; 
    color: blue;
    padding-top: 14px;
    
 
}

#teste{
    height: 200px;
    padding: 10px 10px 10px 10px;
}

#icon{
    height: 25px; 
    width: 25px; 
    text-align: center; 
    color: #120a8f
}

#card{
    margin-bottom: -10%;
}







